<!DOCTYPE html>
<html>
<head>
	<title>pratice</title>
<link rel="stylesheet" href="foundation.min.css">
</head>
<body>

       <div ng-app="firstapp">
	
		<div ng-controller="firstCtrl">
		
		<input type="text" ng-model="name">	
		<h1>{{name}}</h1>

		</div>
		</div>

         
       <div ng-app="firstapp">
	
		<div ng-controller="firstCtrl">
		
		<input type="text" ng-model="name">	
		<h1>{{name}}</h1>

		</div>
		</div>

<input type="submit" onclick="f();">
<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="praticejs.js"></script>

</body>
</html>
